* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 main {
    background-color: #F2E6E6;

 }
header {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    background-color: #A0B4F9;
    color: white;
    /* border-radius: 0px 0px 30px 30px; */
    padding: 10px;
}

header input {
    border: none;
    border-radius: 30px;
    padding: 10px;
    outline: none;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 19px;
}
.text {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
    margin-bottom: 25px;
    animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #A0B4F9, 0 0 40px #A0B4F9, 0 0 50px #A0B4F9, 0 0 60px #A0B4F9, 0 0 70px #A0B4F9;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #6380eb, 0 0 40px #6380eb, 0 0 50px #6380eb, 0 0 60px #6380eb, 0 0 70px #6380eb, 0 0 80px #6380eb;
    }
  }
.breContainer {
    /* margin-top: 100px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
}
.imgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    flex-direction: column;
}
.breathStart{
    padding: 10px;
    font-size: 20px;
    border-radius: 30px;
    border: none;
    color: white;
    width: 150px;
    background-color: #A0B4F9;
}
.imgContainer img {
    height: 100vh;
    width: 928px;
}
.textBased{
    background-color: #A0B4F9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    height: 70vh;
    border-radius: 30px;
    margin: auto;
    color: white;
}

.textBased p,
.videoBased p {
    width: 500px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    height: 230px;
}

.textBased h3,
.videoBased h3 {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
}

.explore {
    width: 200px;
    background-color: white;
    color: #A0B4F9;
    font-size: 23px;
    text-decoration: none;
    height: 40px;
    padding: 6px;
    margin-top: 30px;
    text-align: center;
    border-radius: 30px;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .imgContainer img {
        height: 60vh;
        width: 400px;
    }
    .textBased {
        height: 50vh;
        width: -webkit-fill-available;
    }
    .textBased h3 {
        font-size: 25px;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 16px;
    }
    .textBased p, .videoBased p {
        width: 388px;
        font-family: 'Montserrat', sans-serif;
        font-size: 19px;
        height: fit-content;
    }
    .explore {
        width: 159px;
        font-size: 18px;
        padding: 10px;
    }
  }
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .imgContainer img {
        height: 60vh;
        width: 484px;
    }
    .textBased {
        height: 71vh;
        width: -webkit-fill-available;
    }
    .textBased h3 {
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 16px;
    }
    .textBased p, .videoBased p {
        width: 388px;
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        height: fit-content;
    }
    .explore {
        width: 159px;
        font-size: 18px;
        padding: 10px;
    }
  }
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .imgContainer img {
        height: 60vh;
        width: 484px;
    }
    .textBased {
        height: 73vh;
        width: 600px;
    }
    .textBased h3 {
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 16px;
    }
    .textBased p, .videoBased p {
        width: 388px;
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        height: fit-content;
    }
    .explore {
        width: 159px;
        font-size: 23px;
        padding: 6px;
    }
  }
  
@media only screen and (min-width: 1025px) and (max-width: 1450px) {
    .imgContainer img {
        height: 80vh;
        width: 675px;
    }
    .textBased {
        height: 77vh;
        width: 690px;
    }
    .textBased h3 {
        font-size: 40px;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 16px;
    }
    .textBased p {
        width: 530px;
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        height: fit-content;
    }
    .explore {
        width: 159px;
        font-size: 23px;
        padding: 6px;
    }
  }
  