*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

header {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
.siteName {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
.exploreSite img {
    width: 20px;
    height: 15px;

}
.agroup {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-left: 15px;
    color: black;
    text-decoration: none;
}
.learn {
    border: 1px solid black;
    padding: 10px;
    margin-left: 20px;
    color: black;
    text-decoration: none;
}
.sign {
    border: 1px solid white;
    padding: 13px;
    margin-left: 10px;
    background-color: black;
    color: white;
    text-decoration: none;
}
hr{
    margin-top: 20px;
}

.first {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    padding-bottom: 100px;
}
h1 {
    width: 725px;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 68px;
}
.texts p{
    width: 850px;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 40px;
}
.discover {
    border: 1px solid white;
    padding: 13px;
    font-size: 24px;
    background-color: black;
    color: white;
    text-decoration: none;
}
#second{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    padding-bottom: 100px;
}
.secondSmallCont {
    display: flex;
    justify-content: space-between;
    
}
.secondSmallCont p {
    width: 313px;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 40px;
}
.secondSmallCont h3 {
    font-size: 30px;
    margin-bottom: 10px;
}
#second img {
    width: 500px;
    height: 516px;
}
.secondTexts h2{
    width: 725px;
    margin-bottom: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 47px;
}
.secondP {
    width: 850px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 40px;
}
.meditationStart, .breathStart {
    border: 1px solid black;
    padding: 10px;
    font-size: 19px;
    /* margin-left: 20px; */
    color: black;
    text-decoration: none;
}


#third {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.thirdP {
    width: 450px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 40px;
}
.thirdH2 {
    width: 725px;
    margin-bottom: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 47px;
}